.catalog-main{
  width:320px;
  margin:auto;
  background-color: rgb(255,255,255);
  font-family: "Open Sans", sans-serif;
}

@media(min-width:768px){
  .catalog-main{
    width: 768px;
  }
}

@media(min-width: 1250px){
  .catalog-main{
    width: 1250px;
  }
}