.cuties{
  width:260px;
  height:355px;
  margin:auto;
  background:url('../../../build/img/hero-mobile.png') center -20px ;
  position:relative;
  padding-top: 58px;
}

.cuties__newComer,
.cuties__sales,
.cuties__delivery{
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  position:absolute;
  display: none;
}

.cuties__title{
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.cuties__assortment{
  display: flex;
  flex-direction: column;
  min-height: 103px;
  position: absolute;
  bottom:-140px;
  left:-30px;
}

.cuties__assortment-item{
  min-height: inherit;
  width:320px;
  padding:30px 185px 30px 29px;
}

.cuties__assortment-item--interior{
  background-color: rgb(99,209,187);
  display: flex;
}


.cuties__assortment-item--toys{
  background-color:rgb(86,195,178);
  display: flex;
}

.cuties__assortment-item a{
  font-size: 19px;
  line-height: 24px;
  color:rgb(255,255,255);
}

.cuties__assortment-lamp{
  margin-left: 110px;
}

.cuties__assortment-toy{
  margin-left: 120px;
}

@media(min-width: 768px){
  .cuties{
    width:768px;
    min-height: 746px;
    margin:0;
    padding: 125px 50px 0;
    background: url('../../../build/img/hero-desktop.png') no-repeat center;
  }

  .cuties__title{
    font-size: 43px;
    line-height: 50px;
  }

  .cuties__delivery{
    display: block;
    top:27px;
    right:50px;
  }

  .cuties__assortment{
    left:50px;
    bottom: 0;
    width: 668px;
    flex-direction: row;
  }

  .cuties__assortment-item{
    width:334px;
    padding:35px 187px 35px 35px;
  }

}


@media(min-width:1250px){
  .cuties{
    width:1250px;
  }

  .cuties__delivery{
  right:100px;
  }

  .cuties__newComer{
    display: block;
    top:27px;
    left: 100px;
  }

  .cuties__sales{
    display: block;
    top:27px;
    left:244px;
  }

  .cuties__assortment{
    left:100px;
  }

  .cuties__assortment-item{
    width:525px;
    min-height: 120px;
    padding:35px 377px 35px 35px;
  }

  .cuties__assortment-lamp{
    margin-left: 300px;
  }

  .cuties__assortment-toy{
    margin-left: 300px;
  }

}