.footer-refs{
  width: 260px;
  min-height: 80px;
  padding: 0 62px 0 57px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-refs__item a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}