.navigation{
  min-height: 79px;
}

.navigation__menu{
  min-height: inherit;
  background-color:rgb(255,255,255);
  display: flex;
  flex-direction: column;
}

.navigation__menu-item{
  min-height: 79px;
  text-align:center;
  padding: 27px 0 27px 0;
}


@media(max-width:767px){
  .navigation__menu-item{
    box-shadow:   1px 1px 0 0 rgb(236,236,236),
    inset  1px 1px 0 0 rgb(236,236,236);
  }
}

.navigation__menu-item-ref{
  font-size: 17px;
  line-height: 24px;
  color:rgb(0,0,0);
}

.navigation__menu-item-ref:hover{
  color: rgb(143,143,143);
}


.navigation__menu-item-ref:active{
  color:rgb(178,178,178);
}


.navigation__menu-item--logo{
  position:relative;
}

@media(max-width: 767px) {

  .navigation__menu-btnClose {
    position: absolute;
    width: 21px;
    height: 20px;
    top: 32px;
    right: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }


  .navigation__menu-btnOpen {
    position: absolute;
    right: 30px;
    top: 32px;
    width: 21px;
    height: 20px;
    background: url('../../../build/svg/menu.svg') no-repeat center;
    border: none;
    cursor: pointer;
  }

  .navigation--opened .navigation__menu-item {
    display: block;
  }

  .navigation--opened .navigation__menu-btnOpen {
    display: none;
  }

  .navigation--closed .navigation__menu-btnClose {
    display: none;
  }

  .navigation--closed .navigation__menu-btnOpen {
    display: block;
  }

  .navigation--closed .navigation__menu-item {
    &--active {
      display: block;
    }

    display: none;
  }


  .navigation__menu-btnClose:after {
    content: "";
    position: absolute;
    height: 21px;
    width: 2px;
    background-color: black;
    top: 0;
    transform: rotate(-45deg);
  }

  .navigation__menu-btnClose:before {
    content: "";
    position: absolute;
    height: 21px;
    width: 2px;
    background-color: black;
    top: 0;
    transform: rotate(45deg);
  }

}

.navigation__menu-item--basket{
  position:relative;
}

.navigation__menu-item--basket:before{
  content:"";
  position:absolute;
  width:21px;
  height: 18px;
  left:30px;
  top:30px;
  background: url('../../../build/svg/cart.svg') no-repeat center;
  cursor:pointer;
}

.navigation__menu-item--basket:after{
  content:"";
  position:absolute;
  width:21px;
  height: 18px;
  left:30px;
  top:-50px;
  background:url('../../../build/svg/search.svg') no-repeat center;
  cursor:pointer;
}


@media(min-width:768px) and (max-width:1249px){

    .navigation__menu-item--knitting {
      position: absolute;
      bottom: -94px;
      left: 160px;
      z-index: 10;
    }

    .navigation__menu-item--catalog {
      position: absolute;
      bottom: -94px;
      z-index: 10;
    }


}


@media(min-width: 768px) {
  .navigation {
    min-height: 88px;
    padding: 0 50px 0;
  }

  .navigation__menu {
    min-height: 88px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .navigation__menu-item{
    min-height: 94px;
  }

  .navigation__menu-item--search {
    display: none;
  }


  .navigation__menu-item--knitting a{
    font-size:15px;
    line-height: 24px;
  }

  .navigation__menu-item--catalog a{
    font-size:15px;
    line-height: 24px;
  }

  .navigation__menu-item--basket a{
    font-size: 17px;
    line-height: 24px;
  }

  .navigation__menu-item--basket:after{
    top:30px;
    left:-115px;
  }

  .navigation__menu-item--basket:before{
    left:-30px;
  }

  .navigation__menu-btnClose,
  .navigation__menu-btnOpen{
    display: none;
  }

}

@media(min-width:1250px){

  .navigation {
    padding: 0 100px 0;
  }

  .navigation__menu-item--catalog{
  order:-1;
  }

  .navigation__menu-item--knitting{
  order:-2;
  }

  .navigation__menu-item--basket{
    margin-left: 220px;
  }


}
