@font-face{
  font-family: "PT Sans Narrow",sans-serif;
  font-style:normal;
  font-weight: 400;
  src:url('../../fonts/OpenSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: "PT Sans Narrow",sans-serif;
  font-style:normal;
  font-weight: 800;
  src:url('../../fonts/OpenSans-Bold.ttf') format('ttf');
}

